* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
    color: rgba(63, 90, 141, 0.63);
}

a:hover {
    color: palevioletred;
}

.mh {
    text-decoration: none;
    font-family: 'Indie Flower', cursive;
    font-size: 65px;
    color: rgba(63, 90, 141, 0.63);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 5%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 3%;
    background-color: rgba(128, 128, 128, 0.205);
}

/* Termina Header */

.section1__div1 {
    display: flex;
    justify-content: center;
}

.img1 {
    height: 300px;
}

.section1__div2 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
    padding-left: 3%;
    padding-right: 3%;
    color: rgba(63, 90, 141, 0.63);
    line-height: 45px;
}

/* Termina section1 */ 

.section2 {
    background-color: #E4C0B7;
    padding-top: 5%;
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 10%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 300px;
}

.section2__div1 {
    font-family: 'Indie Flower', cursive;
    color: beige;
    font-size: 40px;
    display: flex;
    justify-content: flex-start;
}

.section2__div2 {
    font-family: 'Indie Flower', cursive;
    color: beige;
    font-size: 30px;
    display: flex;
    justify-content: flex-start;

}

.section3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 300px;
    margin-top: 5%;
}

.section3__div1 {
    padding-top: 5%;
}

.section3__div2 {
    display: flex;
    justify-content: center;
}

img {
    height: 600px;
    border-radius: 40px;
}

h2 {
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
}

p {
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
    line-height: 45px;
}

.section4 {
    background-color: #969FA2;
    padding-top: 5%;
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 10%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 300px;
}

.section4__div1 {
    font-family: 'Indie Flower', cursive;
    color: beige;
    font-size: 40px;
    display: flex;
    justify-content: flex-start;
}

.section4__div2 {
    font-family: 'Indie Flower', cursive;
    color: beige;
    font-size: 30px;
    display: flex;
    justify-content: flex-start;

}

.section5 {
    display: grid;
    grid-template-columns: 850px 1fr;
    grid-template-rows: 300px 300px;
    margin-top: 5%;
}

.section5__div1 {
    padding-left: 5%;
    padding-top: 5%;
}

.section5__div2 {
    display: flex;
    justify-content: center;
}

.section6 {
    background-color: #98A267;
    padding-top: 5%;
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 10%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 320px;
}

.section6__div1 {
    font-family: 'Indie Flower', cursive;
    color: beige;
    font-size: 40px;
    display: flex;
    justify-content: flex-start;
}

.section6__div2 {
    font-family: 'Indie Flower', cursive;
    color: beige;
    font-size: 30px;
    display: flex;
    justify-content: flex-start;

}

.section7 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 650px 300px;
    margin-top: 5%;
}

.section7__div2 {
    display: flex;
    justify-content: center;
}

.img {
    width: 600px;
    object-fit: cover;
}

.section7__div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

/* Termina Section 7 y comienza Grid
de imágenes */

.enter {
    padding: 5% 3% 8% 10%;
}

.h2__8 {
    font-size: 50px;
    color: black;
}

.section8 {
    display: grid;
    grid-template-columns: repeat(3, 420px);
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
}

.img1 {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.div__section8 {
    display: flex;
    justify-content: center;
}

.div1 {
    display: flex;
    justify-content: flex-end;
}

.div2 {
    display: flex;
    justify-content: flex-end;
}

.div3 {
    display: flex;
    justify-content: flex-start;
}

.div4 {
    display: flex;
    justify-content: flex-start;
}

/* Termina Section 8 */

.section9 {
    background-color: #2A2E78;
    margin-top: 5%;
    padding: 7% 3% 10% 3% ;
}

.section9__div2 {
    padding: 5%;
}

.section9__div3 {
    padding-top: 10%;
    display: flex;
}

.write {
    color: rgba(255, 255, 255, 0.562);
}

.section9__h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 80px;
    padding: 15% 3% 5% 10%;
    color: rgba(240, 248, 255, 0.425);
}

.img4 {
    height: 600px;
    width: 700px;
    object-fit: cover;
}